@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$black: #1a1a1b;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color-3;
  font-family: $font-1;
  max-width: 1600px;
  margin: auto;
  color: $white;
}
li {
  list-style-type: none;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: $black; /* color of the scroll thumb */
  border-radius: 50px; /* roundness of the scroll thumb */
}
